% Put your custom commands here. One per line, in the form <name>,<classpath>
% E.g.:
% list,commands.List
senses,capisco.commands.Senses
mappings,capisco.commands.Mappings
contexts,capisco.commands.Contexts
search,capisco.commands.Search
doc,capisco.commands.GetDocument
artname,capisco.commands.ArticleName
artid,capisco.commands.ArticleID
synonyms,capisco.commands.Synonyms
synmaps,capisco.commands.SynMappings
inlinks,capisco.commands.Inlinks
keyphrases,capisco.commands.KeyPhrases
outlinks,capisco.commands.Outlinks
keymaps,capisco.commands.KeyMappings
disambiguate,capisco.commands.Disambiguate
d,capisco.commands.Disambiguate
phrase,capisco.commands.Phrase
p,capisco.commands.Phrase
when,capisco.commands.When
w,capisco.commands.When
artdesc,capisco.commands.ArticleDescription
new,capisco.commands.AddArticle
newmap,capisco.commands.AddMapping
rel,capisco.commands.Relationship
mut,capisco.commands.Mutuality
labels,capisco.commands.Labels
meanings,capisco.commands.Meanings
dc,capisco.commands.DisambiguateWithContext
rel2,capisco.commands.Relationship2
topics,capisco.commands.Topics